In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-01-31 21:20:23,-33.9258,18.4232,68.00,88,75,17.27
1,1,Ust-Kuyga,RU,2021-01-31 21:24:29,70.0167,135.6000,-38.15,80,93,4.52
2,2,Port Hawkesbury,CA,2021-01-31 21:24:30,45.6169,-61.3485,32.00,80,75,5.75
3,3,Tapayan,PH,2021-01-31 21:24:30,7.2944,124.2661,74.48,85,100,2.37
4,4,Bambous Virieux,MU,2021-01-31 21:23:21,-20.3428,57.7575,81.00,74,40,14.97

In [3]:
# Configure gmaps to use my Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# GMAPS USAGE REFERENCE 
## 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
## 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
## 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
## 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#
## 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
## 6. Call the figure to plot the data.
#fig

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Bambous Virieux,MU,2021-01-31 21:23:21,-20.3428,57.7575,81.00,74,40,14.97
8,8,Calamar,CO,2021-01-31 21:24:30,10.2511,-74.9146,87.80,66,0,13.80
9,9,Wajid,SO,2021-01-31 21:24:30,3.8093,43.2471,76.03,33,12,10.92
10,10,Rio Grande,BR,2021-01-31 21:23:27,-32.0350,-52.0986,80.60,78,75,8.05
12,12,Rikitea,PF,2021-01-31 21:21:21,-23.1203,-134.9692,79.07,64,11,8.41
14,14,Butaritari,KI,2021-01-31 21:24:31,3.0707,172.7902,80.53,83,57,14.36
19,19,Orodara,BF,2021-01-31 21:24:32,10.9492,-4.9342,78.80,34,72,5.75
20,20,Ballina,AU,2021-01-31 21:24:32,-28.8667,153.5667,77.00,65,40,9.22
21,21,Kapaa,US,2021-01-31 21:24:32,22.0752,-159.3190,75.20,73,40,14.97
26,26,Mahebourg,MU,2021-01-31 21:24:33,-20.4081,57.7000,80.60,74,40,14.97

In [26]:
preferred_cities_df.isnull().sum() # 1 null country

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [31]:
# Fix null country
preferred_cities_df = preferred_cities_df.dropna()

In [32]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [33]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4   Bambous Virieux      MU     81.00 -20.3428   57.7575
8           Calamar      CO     87.80  10.2511  -74.9146
9             Wajid      SO     76.03   3.8093   43.2471
10       Rio Grande      BR     80.60 -32.0350  -52.0986
12          Rikitea      PF     79.07 -23.1203 -134.9692
14       Butaritari      KI     80.53   3.0707  172.7902
19          Orodara      BF     78.80  10.9492   -4.9342
20          Ballina      AU     77.00 -28.8667  153.5667
21            Kapaa      US     75.20  22.0752 -159.3190
26        Mahebourg      MU     80.60 -20.4081   57.7000

In [35]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"
}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()
#-hotels

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Bambous Virieux,MU,81.00,-20.3428,57.7575,Casa Tia Villa
8,Calamar,CO,87.80,10.2511,-74.9146,Hostal Katyalex
9,Wajid,SO,76.03,3.8093,43.2471,xamdihotelresturant114
10,Rio Grande,BR,80.60,-32.0350,-52.0986,Hotel Atlântico Rio Grande
12,Rikitea,PF,79.07,-23.1203,-134.9692,Pension Maro'i

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Store the DataFrame Row.